.btn-add {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}
.btn-clear {
    -fx-background-color: #ff9800;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}
.btn-update {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}
.root {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20px;
    -fx-font-family: "Cambria";
}

#lblTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 10px 0;
}


.text-field, .text-area {
    -fx-pref-width: 200px;
    -fx-padding: 5px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #fff;
}

.date-picker {
    -fx-pref-width: 200px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #fff;
}

.combo-box {
    -fx-pref-width: 200px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #fff;
}

