.tab .tab-label {

    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: 'Arial';
}

.tab-pane1 {
    -fx-background-color: transparent;

}

.tab-top .tab-header-background {
    -fx-background-color: #4c984d;
    -fx-padding: 10;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 2 0;
}
.tab-pane1 .tab-header-area .tab:selected {
    -fx-background-color: #ffffff;
    -fx-text-base-color: #000000;
}

.tab-pane1 .tab-header-area .tab {
    -fx-background-color: #2d6a2e;
    -fx-text-base-color: white;
}

.toolbar-item {
    -fx-border-color: #7a7;
    -fx-border-width: 0 1px 0 0;
    -fx-pref-height: 64px;
    -fx-pref-width: 80px;
}
.toolbar-item:hover {
    -fx-cursor: hand;
}
.toolbar-item:hover > .toolbar-item-label {
    -fx-text-fill: green;
}