.tab-top .tab-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: 'Arial';
    -fx-text-fill: white;
}



.tab-top .tab-header-background {
    -fx-background-color: #4c984d;
    -fx-padding: 10;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 2 0;
}

.tab-top .tab-header-area .tab {
    -fx-background-color: #4c984d;
    -fx-text-fill: white;
}

.tab-top .tab-header-area .tab:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 5px 5px 0 0;
}


.tab-top .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: black;
}

.toolbar-item {
    -fx-border-color: #7a7;
    -fx-border-width: 0 1px 0 0;
    -fx-pref-height: 64px;
    -fx-pref-width: 80px;
}
.toolbar-item:hover {
    -fx-cursor: hand;
}
.toolbar-item:hover > .toolbar-item-label {
    -fx-text-fill: green;
}
.home-item {
    -fx-padding: 2px 0 0 0;
    -fx-pref-height: 66px;
}